td, th {
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

th {
    background-color: lightgrey;
}

.threadModal input {
    margin-bottom: 5px;
}

.threadModal textarea {
    margin-bottom: 5px;
}

.postContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: lightgrey;
    border-radius: 4px;
}
.postIdDate {
    align-self: start;
    padding-left: 4px;
}

.postLikes {
    align-self: end;
    padding-right: 4px;
}

.postText {
    padding: 5px;
}