/* #root {
    display: flex;
    justify-content: center;
    align-items: center;
} */

td, th {
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

th {
    background-color: rgb(255, 206, 100);
}

/* h1 {
    text-align: center;
} */

.threadModal input {
    margin-bottom: 5px;
}

.threadModal textarea {
    margin-bottom: 5px;
}

/* body {
    background-color: white;
} */